main:first-of-type{
	margin-top: $nav-bar-height;
}
.parent{
	&--header{
		background: $base;
		color:$white;
	}
	&--content{
		min-height: 500px;
	}
	&--footer{
		background: $base;
		color:$white;
	}
	&--copyright{

	}
	section{
		.logo{
			margin-left:10px;
		}
		nav{
			margin-right:10px;
		}
	}
}
.row{
	.header{
		width:100vw;
		height:50vw;
		background-image: url('../img/logo.jpg');
		background-size: 100% 50vw;
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
		color:white;
		&__scroll{
			width:2vw;
			height:3vw;
			margin:2vw;
			position:relative;
			top:12vw;
			background-image: url('../img/V.png');
			background-size: 2vw 3vw;
		}
		&__text{
			width:35%;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
				&__h2{
					display:flex;
					align-items:center;
					justify-content:center;
					width:100%;
					margin:0;
					div{
						font-weight:300;
						display:flex;
						align-items:center;
						justify-content:center;
						float:left;
						margin:auto;
						width:40%;
						font-size:1.7vw;
						margin:0;
					}
					hr{
						margin-left:0;
						margin-right:0;
						border-color:rgba(255,255,255,0.5);
						width:25%;
						float:left;
					}
				}
				h1{
					font-size:4.4vw;
					margin:0;
				}
				&__button{
					font-size:1.4vw;
					border-style: solid;
					margin-top:3vw;
					border:1px solid rgba(255,255,255,0.5);
					border-radius:100px;
					width:11vw;
					height:3vw;
					background-color:rgba(0,0,0,0);
				}

			}
			@include media-breakpoint-down (sm) {
				&__scroll{
					top:6vw;
				}
				&__text{
					width:100%;
					&__h2{
						div{
							font-weight:500;
							font-size:4vw;
						}
					}
					h1{
						font-size:8vw;
						margin:0;
					}
					&__button{
						font-size:3vw;
						margin-top:2vw;
						width:30vw;
						height:7vw;
					}

				}
			}
		}
	&--footer{
		padding: 0 0 40px;
		font-size: 16px;
		flex-wrap:wrap;
		.logo{
			filter: brightness(100) invert(1);
		}
		.logo,h5{
			margin: 30px 0;
			height: 40px;
			align-items: center;
			display: inline-flex;
		}
		h5{
			width: 100%;
			font-size: 18px;
			text-transform: uppercase;
		}
		.col{
			@include media-breakpoint-down( sm ){
				&--3{
					width: 50%;
				}
				&:nth-of-type(2){
					display: none;
				}
			}
			@include media-breakpoint-down( xs ){
				&--3{
					width: 100%;
					justify-content: center;
					align-items: center;
					h5{
						justify-content: center;
						align-items: center;
						text-align: center;
					}
				}
			}
			align-items: flex-start;
			flex-direction: column;
			p{
				padding: 0;
				margin: 0;
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				margin: 0;
				padding: 0;
			}
		}
	}
	&--copyright{
		padding: 20px 0;
		.col{
			align-items: center;
			@include media-breakpoint-down( xs) {
				&--2{
					width: 50%;
				}
			}
			&:last-of-type{
				justify-content: flex-end;
				@include media-breakpoint-down( md ) {
					span{
						display: none;
					}	
				}
			}
		}
		.zensite{
			max-height: 30px;
			margin-left: 20px;
		}
	}
}