ul.acordeon{
	position: relative;
	margin:0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	& > li{
		list-style: none;
		max-height: 50px;
		background: $white;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include media-breakpoint-down( md ){
			width: 100%;
		}
		margin: 0 0 20px;
		transition: max-height 1s ease;
		&:before{
			content: attr(title);
			width: 100%;
			cursor: pointer;
			background: $alt;
			position: relative;
			display: flex;
			box-sizing: border-box;
			color: $white;
			padding: 10px 40px 10px 20px;
			text-overflow: ellipsis;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
		}
		&:hover:before{
			background: lighten($alt, 10%);
		}
		&:after{
			content: "\f0d7";
			font-family: $ico-font;
			position: absolute;
			top:10px;
			right: 20px;
			color: $white;
			transition: .3s ease;
			transform-origin: center 45%;
		}
		&.active{
			max-height: 1500px;
			&:after{
				transform: rotate(180deg);
			}
		}
		& > p{
			padding: 0px 20px;
			pointer-events: none;
		}
	}
}